apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      containers:
      - name: go-app
        image: go-app:1.0
        ports:
        - containerPort: 8080
        envFrom:
        - secretRef:
            name: db-secret
        - configMapRef:
            name: app-config
