replicaCount: 1

image:
  repository: my-go-app
  tag: "1.0"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 8080

resources:
  limits:
    cpu: 500m
    memory: 256Mi
  requests:
    cpu: 200m
    memory: 128Mi

livenessProbe:
  path: /ping
  port: 8080

readinessProbe:
  path: /ping
  port: 8080